@{
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Nepwheels</title>

        <link rel="stylesheet" href="~/css/MainLayout.css">
    </head>
    <body>
        <!--#############################################################-->
        <header>
            <div class="flex justify-between box">
                <a asp-controller = "@ViewBag.Controller" asp-action = "@ViewBag.Index">                
                    <h1 class="flex-centre-vertical flex-centre-horizontal-left">
                        Nepwheels
                    </h1>
                </a>        
                <div class="search flex-centre-vertical">
                    <div>
                        <input type="search" placeholder="Search brand"/>
                        <button>
                            search
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div style="height:50px"></div>
        </header>
        <!--#############################################################-->
        <div>
            @RenderBody()
        </div>
        <!--#############################################################-->
        <footer>

        </footer>
        <!--#############################################################-->
    </body>
</html>