@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Categories";
}
@model IEnumerable<automobile_database_system.Models.Category>;
<div>
    <div class="flex flex-direction-vertical">
        <a asp-controller = "Category" asp-action = "Create" class="flex-centre-horizontal">
            <button>
                Add a new automobile category
            </button>
        </a>
        
        <div class="flex-centre-horizontal">
            <table>
                <tr>
                    <th>Category</th>
                    <th>Type</th>
                </tr>
                @foreach(var c in Model)
                {
                    <tr>
                        <td>
                            @c.Name
                        </td>
                        <td>
                            @c.Type wheeler
                        </td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id">
                                <button>
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>