@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Users";
}

<div>
    <div style="height:50px"></div>
    <div class="flex">
        <div class="flex flex-centre-horizontal" style="width: 20vw">
            <div class="flex-centre-horizontal">
                <a asp-controller = "Auto" asp-action = "Index" class="flex-centre-horizontal">
                    <button>Automobile</button>
                </a>
            </div>
            <div class="flex-centre-horizontal">
                <a asp-controller = "Brand" asp-action = "Index" class="flex-centre-horizontal">
                    <button>Brands</button>
                </a>
            </div>
            <div class="flex-centre-horizontal">
                <a asp-controller = "Category" asp-action = "Index" class="flex-centre-horizontal">
                    <button>Categories</button>
                </a>
            </div>
        </div>
    </div>
    
</div>