@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = @ViewBag.Auto + " " + @ViewBag.id;
}
<div>
    <div class="flex">
        <div class="flex-centre-horizontal">
            <table>
                <tr>
                    <th>Brand</th>
                    <td>Jawa</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>Classic</td>
                </tr>
                <tr>
                    <th>Build year</th>
                    <td>2015</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>Cruiser</td>
                </tr>
                <tr>
                    <th>Engine size</th>
                    <td>293.4cc</td>
                </tr>
                <tr>
                    <th>Discontinued</th>
                    <td>No</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>650000</td>
                </tr>
            </table>
        </div>
    </div>
</div>