@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create Brand";
}
@model automobile_database_system.Models.Brand;
<div>
    <div class="flex flex-direction-vertical">
        <div class="flex flex-centre-horizontal">
            <form method="POST" asp-controller="Brand" asp-action="Create">
                <div>
                    <label asp-for="BrandName">Brand name:</label>
                    <input type="text" asp-for="BrandName" />
                    <input type="submit" value="Add brand" />
                </div>
                <div style="height:50px"></div>
            </form>
        </div>
        <div class="flex-centre-horizontal">
            <div style="height:50px"></div>

            <a asp-controller = "Brand" asp-action = "Index" class="flex-centre-horizontal">
                <button>Go back to brands</button>
            </a>
        </div>
    </div>
</div>